@page
@model Askmethat.Aspnet.JsonLocalizer.TestSample.Pages.DeepFolder.DeepPageModel

@{
    ViewData["Title"] = "HelloDeepRazor";
}

<h2>@Localizer["DeepHello"]</h2>

<br/>
<span> Shared : @Localizer["Shared"]</span>